body{
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: 'Inter';
}
img{
    position: absolute;
    z-index: 1;
}
.error{
    top:270px;
    color: rgb(155, 14, 14);
    font-size: 25px;
    position: absolute;
    padding: 0;
}
.message{
    top:270px;
    color: rgb(32, 138, 23);
    font-size: 25px;
    position: absolute;
    padding: 0;
}
section{
    width: 100%;
    position: absolute;
    z-index: 2;
}
section div{
    display: block;
    margin: 150px auto;
    border-radius:21px ;
    background-color: #2F2F2F;
    height: 645px;
    width: 560px;
}
span{
    margin-top: 20px;
    font-size: 20px;
    display: block;
    text-align: center;
    color: #FFFFFF;
}
.back{
    z-index: 3;
    position: absolute;
    top: 10px;
    left: 50px;
}
.back:hover{
    cursor: pointer;
    text-decoration:underline;
}
.back a{
    font-weight: 500;
    font-size: 25px;
    color: #000000;
}
.big{
    padding-top: 40px;
    font-size: 40px;
    
}
form{
    align-items: center;
    margin-top: 40px;
    height: 420px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}
form input{
    font-size: 25px;
    border: 0;
    width: 400px;
    height: 54px;
    border-radius: 15px;
}
input[type='submit']{
    background-color: #849E83;
    font-size: 36px;
    font-weight: 300;
    font-family: 'Inter', sans-serif;
    color: white;
}
input[type='submit']:hover{
    cursor: pointer;
    background-color: #95b894;
}
span a{
    text-decoration: none;
    color: #849E83;
    
    font-weight: 600;
}