body{
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: 'Inter', sans-serif;
}

header img{
  z-index: 1;
  margin: 0 auto;
  left: 0;
  right: 0;
  position: absolute;
}
.about{
  height: 100%;
}
nav{
  position: absolute;
  width: 100%;
  height: 100px;
  z-index: 5
  ;
}
.dataa{
  margin-top: 85px;
}
.data{
  padding: 10px;
}
.register{
  
  background-color: #0BB9AE;
  border-radius: 15px;
}
.register a{
  color: white;
}
nav ul{
  margin-right: 10px;
  display: flex;
  justify-content: flex-end;
}
nav li{
  padding: 15px 20px;
  margin: 0 10px;
  display: inline-block;
}
nav li a{
  font-weight: 100;
  font-size: 25px;
  text-decoration: none;
  color: #181A19;
}
nav li:hover{
  cursor: pointer;
  text-decoration: underline;
}
.startButton{
  position: absolute;
  display: block;
  left: 0;
  border: 10px solid #181A19;
  border-radius: 100%;
  right: 0;
  margin: 300px auto;
  width: 200px;
  height: 200px;
  z-index: 3;
  transition: border 0.5s;
}
.startButton span{
  color: #181A19;
  display: block;
  text-align: center;
  font-size: 50px;
  line-height: 200px;
  transition: color 0.5s;
}
.startButton:hover{
  cursor: pointer;
  border: 10px solid #0BB9AE;
}
.startButton:hover span{
  color:#0BB9AE ;
}
.optionsContainer{
  z-index: 2;
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: flex-end;
  flex-wrap: nowrap;
  justify-content: space-evenly;
}
.downOptions{
  background-color: #181A19;
  border-radius: 14px;
  margin-bottom: 45px;
  width: 301px;
  height: 313px;
}
.downOptions span{
  display: block;
  font-size: 35px;
  color: #FFFFFF;
  text-align: center;
}
.downOptions img{
  display: block;
  text-align: center;
  margin: 0 auto;
  margin-top: 20%;
}
.megaOption{
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.option span{
 line-height: 70px;
  font-size: 25px;
  display: block;
}
.option span{
  float: left;
  margin-left: 50px;
}
.option div{
  margin-right: 50px;
  float: right;
}
.option{
  border-bottom: 2px solid rgb(37, 36, 36) ;
  padding: 0;
  margin-top: 15px;
  width: 500px;
  height: 100px;
  border-radius: 14px;
}
.option:hover{
  background-color:rgb(26, 25, 25) ;
  cursor: pointer;
}

#slider1 .rs-range-color {
  background-color: #0BB9AE;
}
#slider1 .rs-path-color {
  background-color: #434343;
}
#slider1 .rs-handle {
  background-color: #0BB9AE;
}

#slider1 .rs-border {
  border-color: #000000;
}
.rs-control .rs-bg-color {
  background-color: #181A19;
}
#slider1{
  margin-top: 40px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  color: white;
}
.time{
  line-height: 150px;
}
.descriptionmodal{
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 9;
  background-color: #0000005d;
  
}
.nameModal input{
  margin-top: 10px;
  color: #FFFFFF;
  width: 300px;
  margin-left: 50px;
  height: 50px;
  outline: none;
  font-size: 25px;
  background-color: #181A19;
  border: 0;
}
.nameModal img{
  margin: 0 50px 0 0;
  float: right;
}
.nameModal{
  display: none;
  position: absolute;
  width: inherit;
  height: inherit;
  background-color: #181A19;
}
.modalcontent{
  
  width: 100%;
  height: 800px;
  border-radius: 41px 41px 0  0;
  background-color: #181A19;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 10;
  margin: auto;
  bottom: 0;

  animation-name: slideIn;
  animation-duration: 0.4s;

}
@keyframes slideOut {
  from {bottom: 0; opacity: 1}
  to {bottom: -300px; opacity: 0}
}

@keyframes slideIn {
  from {bottom: -300px; opacity: 0}
  to {bottom: 0; opacity: 1}
}

.modalcontent span{
  color: white;
  font-size: 50px;
  display: block;
  margin-top: 5px;
  text-align: center;
}
.modalcontent textarea{
  border-color: Transparent;  
  outline: none;
  color: rgb(182, 182, 182);
  font-size: 20px;
  display: block;
  margin: 100px auto 0 auto;
  background-color: #2A2B2A;
}
.x{
  position: absolute;
  right: 0;
}

.iconContainer{
  margin-top: 40px;
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.iconContainer img{
  width: fit-content;
  height: fit-content;
}
.modalcontent img:hover{
  cursor: pointer;
}
.activityModal{
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 11;
  background-color: #00000083;
}
.activityModalContent{
  width: 520px;
  border-radius: 14px;
  height: 600px;
  display: block;
  margin: 130px auto;
  background: #181A19;
}
.choosenImg{
  width: 100%;
  height: 180px;
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap;
  background-color: #000000;
}
.modalText{
  font-size: 25px;
  color: white;
  line-height: 50px;
}
.addActivity{
  background-color: #2A2B2A;
  width:100%;
  height: 50px;
  text-align: center;
}