body{
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: 'Inter', sans-serif;
}
.yourProfile{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: inherit;
  height: inherit;
}
.yourProfile .arrow{
  width: fit-content;
  height: fit-content;
}
.pfp{
  width:37px;
  height: 37px;
}
header img{
  z-index: 1;
  margin: 0 auto;
  left: 0;
  right: 0;
  position: absolute;
}
.about{
  height: 100%;
}
nav{
  position: absolute;
  width: 100%;
  height: 100px;
  z-index: 5
  ;
}

.dataa{
  margin-top: 85px;
}
.data{
  padding: 10px;
}
.register{
  width: 86px;
  height: 25px;
  background-color: #0BB9AE;
  border-radius: 15px ;
}
.ac{
  display: none;
  border-radius: 0 0 15px 15px;
  text-decoration: none;
  position: absolute;
  right: 10px;
  padding: 0;
  top: 70px;
  width: 125px;
  background-color: #181a19dc;
}
.ac li{
  font-size: 18px;
  width: 84px;
  margin: 0;
}
.ac .moneyy{
  font-weight: bolder;
  color: goldenrod;
  margin-left: -10px;
  width: 80px;
  display: flex;
  justify-content: space-between;
}
.ac a{
  font-size: 18px;
}
.ac :nth-child(2):hover,.ac :nth-child(3):hover,.ac :nth-child(4):hover{
  background-color: #181a1967;
}
.ac :nth-child(4) a{
  color: rgb(194, 19, 19);
  font-weight: bolder;
}
.ac .moneyy img{
  width: 20px;
  height: 20px;
}
.ac li:first-child:not(first-child){
  font-weight: bolder;
  color: #0BB9AE;
}
.ac li{
  text-decoration: none;
  color: white;
}
.ac li:hover{
  text-decoration: none;
}
.register a{
  color: white;
}
nav ul{
  margin-right: 10px;
  display: flex;
  justify-content: flex-end;
}
nav li{
  padding: 15px 20px;
  margin: 0 10px;
  display: inline-block;
}
nav li a{
  font-weight: 100;
  font-size: 25px;
  text-decoration: none;
  color: #181A19;
}
nav li:hover{
  cursor: pointer;
  text-decoration: underline;
}
.startButton{
  position: absolute;
  display: block;
  left: 0;
  border: 10px solid #181A19;
  border-radius: 100%;
  right: 0;
  margin: 300px auto;
  width: 200px;
  height: 200px;
  z-index: 3;
  transition: border 0.5s;
}
.startButton span{
  color: #181A19;
  display: block;
  text-align: center;
  font-size: 50px;
  line-height: 200px;
  transition: color 0.5s;
}
.startButton:hover{
  cursor: pointer;
  border: 10px solid #0BB9AE;
}
.startButton:hover span{
  color:#0BB9AE ;
}
.optionsContainer{
  z-index: 2;
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: flex-end;
  flex-wrap: nowrap;
  justify-content: space-evenly;
}
.downOptions{
  background-color: #181A19;
  border-radius: 14px;
  margin-bottom: 45px;
  width: 301px;
  height: 313px;
}
.downOptions span{
  display: block;
  font-size: 35px;
  color: #FFFFFF;
  text-align: center;
}
.downOptions img{
  display: block;
  text-align: center;
  margin: 0 auto;
  margin-top: 20%;
}
.megaOption{
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.option span{
 line-height: 70px;
  font-size: 25px;
  display: block;
}
.option span{
  float: left;
  margin-left: 50px;
}
.option div{
  margin-right: 50px;
  float: right;
}
.option{
  border-bottom: 2px solid rgb(37, 36, 36) ;
  padding: 0;
  margin-top: 15px;
  width: 500px;
  height: 100px;
  border-radius: 14px;
}
.option:hover{
  background-color:rgb(26, 25, 25) ;
  cursor: pointer;
}

#slider1 .rs-range-color {
  background-color: #0BB9AE;
}
#slider1 .rs-path-color {
  background-color: #434343;
}
#slider1 .rs-handle {
  background-color: #0BB9AE;
}

#slider1 .rs-border {
  border-color: #000000;
}
.rs-control .rs-bg-color {
  background-color: #181A19;
}
#slider1{
  margin-top: 40px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  color: white;
}
.time{
  line-height: 150px;
}
.descriptionmodal{
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 9;
  background-color: #0000005d;
  
}
.nameModal input{
  margin-top: 10px;
  color: #FFFFFF;
  width: 300px;
  margin-left: 50px;
  height: 50px;
  outline: none;
  font-size: 25px;
  background-color: #181A19;
  border: 0;
}
.nameModal img{
  margin: 0 50px 0 0;
  float: right;
}
.nameModal{
  display: none;
  position: absolute;
  width: inherit;
  height: inherit;
  background-color: #181A19;
}
.modalcontent{
  
  width: 100%;
  height: 800px;
  border-radius: 41px 41px 0  0;
  background-color: #181A19;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 10;
  margin: auto;
  bottom: 0;

  animation-name: slideIn;
  animation-duration: 0.4s;

}

@keyframes slideIn {
  from {bottom: -300px; opacity: 0}
  to {bottom: 0; opacity: 1}
}

@keyframes slideInBtn {
  from {transform: translateY(0);}
  to {transform: translateY(-70%);}
}

@keyframes slideOutBtn {
  from {transform: translateY(-70%);}
  to {transform: translateY(0);}
}

.modalcontent span{
  color: white;
  font-size: 50px;
  display: block;
  margin-top: 5px;
  text-align: center;
}
.modalcontent textarea{
  border-color: Transparent;  
  outline: none;
  color: rgb(182, 182, 182);
  font-size: 20px;
  display: block;
  margin: 100px auto 0 auto;
  background-color: #2A2B2A;
}
.x{
  position: absolute;
  right: 0;
}
.countdownModal{
  display: none;
  background-color: #181A19;
  width: 100%;
  height: 100%;
  z-index: 10;
  position: absolute;
}
.countdownModal .countdown{
  width: 500px;
  border-radius: 100%;
  background-color: #000000;
  height: 500px;
}
.countdownModal .text{
  line-height: 55px;
  margin: 0 0 30px 0;
  color: white;
  text-align: center;
  height: 30px;
  display: block;
  font-size: 23px;
}
.countdownModal .description{
  animation-name: slideOutBtn;
  animation-duration: 0.4s;
  animation-fill-mode: forwards;

  width: 700px;
  background-color: #0b8d84;
  height: fit-content;
  height: fit-content;
  border-radius: 15px 15px 0 0;
}
.downOptionss{
 left: 0;
 right: 0;
  top: 94%;
  /* bottom: 0; */
  height: fit-content;
  display: flex;
  position: absolute;
  justify-content: space-around;
}

.countdownModal .description .descriptionText{
  overflow: auto;
  background-color: #1c1f1e;
  width: inherit;
  color: white;
  line-height: 24px;
  padding: 20px 0;

}

.countdownModal .description:hover{
  animation-name: slideInBtn;
  animation-duration: 0.4s;
  animation-fill-mode: forwards;
  cursor: pointer;
}

.countdownModal .buttons{
  animation-name: slideOutBtn;
  animation-duration: 0.4s;
  animation-fill-mode: forwards;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  height: 160px;
  width: 400px;
  border-radius: 15px 15px 0 0;
  background-color: #0b8d84;
}

.countdownModal .buttons:hover{
  animation-name: slideInBtn;
  animation-duration: 0.4s;
  animation-fill-mode: forwards;
}

.countdownModal button{
  background-color:#1c1f1e;
  color: white;
  border: 0;  
  border: 1px solid #1c1f1e;
  padding: 15px 0;
  font-size: 20px;
  width: inherit;
}
.countdownModal button:hover{
  background-color: #232525;
  cursor: pointer;
}
.name{
  margin-top: 50px;
  display: flex;
  justify-content: center;
}
.name img{
  margin-right: 20px;
}
.name span{
  font-size: 40px;
  color: white;
  display: block;
  text-align: center;
}
.iconContainer{
  margin-top: 40px;
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.iconContainer img{
  width: fit-content;
  height: fit-content;
}
.modalcontent img:hover{
  cursor: pointer;
}
.x1img{
  cursor: pointer;
 position: absolute;
}
.activityModal{
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 11;
  background-color: #00000083;
}
.modalOptions{
  margin:  15px 0;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;

}
.modalOptions div{
  margin: 9px 0;
  display: flex;
  justify-content: space-between;
  width: 500px;
}
.modalOptions img{
  padding: 10px;

  border-radius: 15px;
  width: fit-content;
  height: fit-content;
}
.modalOptions img:hover{
  background-color: #2A2B2A;
  cursor: pointer;
}
.activityModalContent{
  width: 520px;
  border-radius: 14px;
  height: 600px;
  display: block;
  margin: 130px auto;
  background: #181A19;
}
.choosenImg{
  width: 100%;
  height: 250px;
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap;
  background-color: #00000000;
}
.choosenImg img{
  width: 150px;
  margin: 50px 0 0 70px;
  height: 150px;
}
.modalText{
  font-size: 30px;
  color: white;
  margin-top: 100px;
  margin-right: 50px;
}
.addActivity{
  border-radius: 0 0 15px 15px;
  background-color: #2A2B2A;
  width:100%;
  height: 50px;
  text-align: center;
  line-height: 50px
}
.addActivity span{
  margin-left: 55px;
}
.addActivity:hover{
  cursor: pointer;
  background-color: #272727;
}


